@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}
button {
  border: none;
}
a {
  text-decoration-line: none;
}
.header-content {
  width: 1440px;
  height: 643px;
  background: rgba(19, 145, 206, 0.7);
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-1 img {
  width: 53.659px;
  height: 54px;
  margin-top: 41px;
}
.menu-1 p {
  display: block;
  color: #25468a;
  font-family: Roboto;
  font-size: 24.683px;
  font-weight: 700;
  width: 137px;
  height: 29px;
  margin-top: -42px;
  margin-left: 53.659px;
}
.menu-2 {
  display: flex;
  gap: 32px;
}
.menu-2 a {
  color: #25468a;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-top: 58px;
}
.menu-2 a:hover {
  color: #fff;
}
.menu-2 button {
  display: inline-flex;
  padding: 9px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: #fff;
  margin-top: 49px;
}
.menu-2 button a {
  color: #14274c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
}
.menu-2 button a:hover {
  color: #14274c;
}
.content {
  display: flex;
}
.text {
  display: inline-block;
  margin-top: 98px;
}
.text h1 {
  color: #25468a;
  font-family: Roboto;
  font-size: 92px;
  font-weight: 700;
  width: 560px;
  height: 108px;
}
.text p {
  color: #3b4a6b;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  width: 560px;
  height: 32px;
  margin-top: 8px;
}
.text-1 {
  display: inline-block;
  width: 560px;
  margin-top: 34px;
}
.text-1 p {
  color: #3b4a6b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  height: 55px;
}
.text-1 button {
  display: inline-block;
  width: 263.529px;
  padding: 15px 0;
  text-align: center;
  border-radius: 26px;
  background: #f7ba0e;
  margin: 24px 295.47px 0 1px;
}
.text-1 button p {
  display: inline;
  color: #3b4a6b;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
}
.img {
  display: inline-block;
  margin-top: 110px;
}
section {
  width: 1440px;
  background: #e9f5ff;
  margin: 0 auto;
  padding-bottom: 93px;
  padding-top: 176px;
}
.head {
  display: flex;
  gap: 32px;
}
.head p {
  width: 352px;
  height: 189px;
  border-radius: 8px;
  background: #1391ce;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px 0px rgba(31, 100, 133, 0.1);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.88px;
  padding: 69px 46px 68px;
}
.bolim-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
}
.pi-1 {
  color: #1391ce;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-weight: 300;
  line-height: 121.3%;
  letter-spacing: 0.36px;
  width: 387px;
  height: 88px;
}
.pi-2 {
  width: 160px;
  height: 8px;
  background: #f7ba0e;
  margin-top: 7.83px;
}
.bolim-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 96.17px;
}
.text-box {
  max-width: 448px;
}

.p-1 {
  color: #25468a;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.text-box h1 {
  color: #1391ce;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
  width: 448px;
  margin-bottom: 32px;
}
.p-2 {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
  width: 448px;
}
.bolim-3 {
  display: flex;
  gap: 96px;
  margin-top: 128px;
}
.pag-1 {
  color: #25468a;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bolim-3 .text-box h1 {
  color: #1391ce;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
  margin-bottom: 32px;
  width: 448px;
}
.pag-2 {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
  margin-bottom: 24px;
  width: 448px;
}
.pag-3 {
  color: #1391ce;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 134.3%;
  letter-spacing: 0.44px;
  width: 448px;
}
.textt {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
  margin-top: -25px;
}
.textt p {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%; /* 21.488px */
  letter-spacing: 0.32px;
  width: 441px;
}
.textt img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.bolim-4 {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}
.pi {
  color: #25468a;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bolim-4 h1 {
  color: #1391ce;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
  width: 448px;
  margin-bottom: 32px;
}
.texxt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.texxt img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.texxt p {
  color: var(--Gray-2, #4f4f4f);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
}
footer {
  width: 1440px;
  height: 144px;
  margin: 0 auto;
  background: #1391ce;
  padding-top: 32px;
}
.pii {
  width: 1120px;
  height: 1px;
  background: var(--Color-Neutral-Black-3, #e3e3e3);
  margin-bottom: 21px;
}
.end {
  display: flex;
  justify-content: space-between;
}
.end p {
  color: var(--Color-Neutral-Black-1, #302e2f);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
}
.end span {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.16px;
}
